version: '3'

services:
  cassandra:
    image: cassandra:4.0.6
    ports:
      - "9042:9042"
    restart: always
    volumes:
      - ./cdata:/var/lib/cassandra
    networks:
      - mynet
  # zeppelin:
  #   image: apache/zeppelin:0.10.0
  #   ports:
  #     - "8080:8080"
  #   environment:
  #     ZEPPELIN_PORT: 8080
  #   # links:
  #   #   - cassandra:cassandra
  #   volumes:
  #     - ./znotebooks:/usr/zeppelin/notebook
  #   networks:
  #     - mynet

networks:
  mynet:
    driver: bridge